<section id="{{module.module_identity}}" class=" datas{% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-title">
            <div class="title">
                {% inline_rich_text field="rich_text" value="{{ module.title }}" %}
                {% inline_rich_text field="rich_text" value="{{ module.text }}" %}
            </div>
            <div class="row-btns">
                {% if module.button_url.href %}
                    <a href="{{ module.button_url.href }}" class="btn primary blue"><span>{{ module.button_text }}</span></a>
                {% else %}
                    {{ module.cta_field }}
                {% endif %}
            </div>
        </div>
        <div class="bloc-items bloc-{{ module.items|length }}">
            {% for item in module.items %}
                <div class="bloc">
                    <div class="bloc-txt {% if item.button_url_item.href %}txt-btn{% endif %}">
                        <div class="title ">
                            {% if item.number %}
                                <p class="number">{{ item.number }}</p>
                            {% endif %}
                            {% if item.title %}
                                <p class="title">{{ item.title }}</p>
                            {% endif %}
                            {{ item.text }}
                        </div>
                        {% if item.button_url_item.href %}
                            <div class="row-btns">
                                <a href="{{ item.button_url_item.href }}" class="btn secondary blue"><span>{{ item.button_text_item }}</span></a>
                            </div>
                        {% else %}
                            <div class="row-btns">
                                {{ item.cta_field }}
                            </div>
                        {% endif %}
                    </div>
                    {% if item.image.src %}
                        <div class="bloc-img">
                            <img src="{{ item.image.src }}" loading="lazy" alt="{{ item.image.alt }}" />
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>