<section id="{{module.module_identity}}" class="key-numbers {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-txt">
            {% if module.subtitle %}
                <p class="subtitle">{{ module.subtitle }}</p>
            {% endif %}
            {% inline_rich_text field="rich_text" value="{{ module.title }}" %}
            {% inline_rich_text field="rich_text" value="{{ module.text }}" %}
        </div>
        <div class="bloc-list-numbers">
            <div class="bloc-number">
                <div class="numbers">
                    {% for item in module.items %}
                        <span>{{ item.item }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>