// Here you can setup all your colors of your website

/* SCSS HEX */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

/* BASE FONT COLOR */
$baseFontColor: #292929;

/* PRIMARY COLORS */
$black: #000000;
$white: #ffffff;
$grey: ;

/* BORDER COLOR */
$borderColor: #eaeaea;
