.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.lg {
  font-size: 24px;
}

p.lg {
  font-size: 24px;
}

p.sm {
  font-size: 16px;
}

p.xs {
  font-size: 14px;
}
