<section id="{{module.module_identity}}" class="latest-news {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-title">
            <div>
                <p class="subtitle">{{ module.subtitle }}</p>
                {% inline_rich_text field="rich_text" value="{{ module.title }}" %}
            </div>
            {% if module.button_url.href %}
                <a href="{{ module.button_url.href }}" class="btn primary"><span>{{ module.button_text }}</span></a>
            {% else %}
                {{ module.cta_field }}
            {% endif %}
        </div>
        <div class="bloc-posts">
            
            <div class="slider">
                {% set rec_posts = blog_recent_posts("default", 3) %}
                {% set i = 0 %}
                {% for rec_post in rec_posts %}
                    {% set i = i + 1 %}
                    <div class="bloc" data-id="{{ i }}">
                        <a href="{{ rec_post.absolute_url }}" class="bloc-img">
                            <figure class="position-relative h-100 mr-n1 mb-0 overflow-hidden">
                                <img class="fit-cover" loading="lazy" src="{{ rec_post.featured_image }}" alt="{{ rec_post.featured_image_alt }}">
                            </figure>
                        </a>
                        <div class="bloc-txt">
                            <div class="steps">
                                <span class="actual">01</span>
                                <span>0{{ rec_posts|length }}</span>
                                <i></i>
                            </div>
                            <div class="infos">
                            <p>{% for item in rec_post.topic_list %}<span>{{ item }}</span>{% endfor %}</p>
                            <p>{% if rec_post.post_body|wordcount > 0 %}{{rec_post.post_body|wordcount|float|divide(300)|round(0, 'ceil')}}{% else %}1{% endif %} min read</p>
                            </div>
                            <p class="title">{{ rec_post.name }}</p>
                            {% if rec_post.widgets.introduction.body.text %}
                                <div class="text">
                                    {{ rec_post.widgets.introduction.body.text }}
                                </div>
                            {% endif %}
                            <a href="{{ rec_post.absolute_url }}" class="btn secondary"><span class="arrow"></span>Read the article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>