<!--
  templateType: blog
  isAvailableForNewContent: true
  label: CloudBridge - Blog Listing Template
-->
{% extends "../layouts/base-blog.html" %}
{% block body %}
{% module_block module "header" path="../../modules/header.module", label="Header"%}{% end_module_block %}

<main class="blog-listing">
  {% if blog_author %}
  {# Author Block Listing - You can manage it here #}
  <section class="hero-section-blog">
    <div class="container">
      <div class="bloc-title">
        <div>
          <h1>{{ blog_author.display_name }}</h1>
          <p>{{ blog_author.bio }}</p>
        </div>
      </div>          
    </div>
  </section>
  {% elif tag %}
    {% module_block module "blog-listing-hero" path="../../modules/blog-listing-hero.module", label="Blog listing hero"%}{% end_module_block %}
  {% else %}
    {% module_block module "blog-listing-hero" path="../../modules/blog-listing-hero.module", label="Blog listing hero"%}{% end_module_block %}
  {% endif %}

  <section class="listing-posts {% if tag == "case-studies" %}listing-posts-tags{% endif %}">
    {% if tag == "case-studies" %}
    {% else %}
      <div class="container">
        {% set my_tags = blog_tags("default", 250) %}
        <div class="bloc-list-tags">
          <a href="" class="tag selected">
            <span class="number">01</span>
            <span class="item">All articles</span>
          </a>
          {% set i = 1 %}
          {% for item in my_tags %}
            {% set i = i + 1 %}
            {% if item != "Case studies" %}
              <a href="{{ blog_tag_url(group.id, item.slug) }}" class="tag">
                <span class="number">{% if i < 10 %}0{% endif %}{{ i }}</span>
                
                <span class="item">{{ item }}</span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="column-1">
        {% for post in contents %}
        {% if (loop.index is odd) %}
        <div class="bloc">
          <a class="bloc-img" href="{{ post.absolute_url }}">
            <img class="fit-cover" src="{{ post.featured_image }}" width="{{ post.featured_image.width }}" height="{{ post.featured_image.height }}" loading="lazy" alt="{{ post.name }}">
            {% if tag == 'case-studies' %}
              {% if post.widgets.case_study_informations.body.white_logo.src %}
                <div class="bloc-logo">
                  <img src="{{ post.widgets.case_study_informations.body.white_logo.src }}" width="{{ post.widgets.case_study_informations.body.white_logo.width }}" height="{{ post.widgets.case_study_informations.body.white_logo.height }}" loading="lazy" alt="{{ post.widgets.case_study_informations.body.white_logo.alt }}">
                </div>
              {% else %}
                <div class="bloc-logo">
                  <img src="{{ post.widgets.case_study_informations.body.logo.src }}" loading="lazy" alt="{{ post.widgets.case_study_informations.body.logo.alt }}">
                </div>
              {% endif %}
            {% endif %}
          </a>
          {% if tag != "case-studies" %}
            <div class="bloc-tags">
              {% for tag in post.tag_list %}
              <a class="tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{
                tag.name
                }}</a>
              {% if not loop.last %}{% endif %}
              {% endfor %}
            </div>
          {% endif %}
          <a href="{{ post.absolute_url }}" class="bloc-txt">
            <h3>
              {{ post.name }}
            </h3>
            {% if post.post_summary %}
                <div class="text">
                  {{ post.post_summary }}              
                </div>
            {% endif %}
          </a>
        </div>
        {% endif %}
      {% endfor %}
      </div>
      <div class="column-2">
        {% for post in contents %}
        {% if (loop.index is even) %}
          <div class="bloc">
            <a class="bloc-img" href="{{ post.absolute_url }}">
              <img class="fit-cover" src="{{ post.featured_image }}" width="{{ post.featured_image.width }}" height="{{ post.featured_image.height }}" loading="lazy" alt="{{ post.name }}">
              {% if tag == 'case-studies' %}
                {% if post.widgets.case_study_informations.body.white_logo.src %}
                  <div class="bloc-logo">
                    <img src="{{ post.widgets.case_study_informations.body.white_logo.src }}" width="{{ post.widgets.case_study_informations.body.white_logo.width }}" height="{{ post.widgets.case_study_informations.body.white_logo.height }}" loading="lazy" alt="{{ post.widgets.case_study_informations.body.white_logo.alt }}">
                  </div>
                {% else %}
                  <div class="bloc-logo">
                    <img src="{{ post.widgets.case_study_informations.body.logo.src }}" loading="lazy" alt="{{ post.widgets.case_study_informations.body.logo.alt }}">
                  </div>
                {% endif %}
              {% endif %}
            </a>
            {% if tag != "case-studies" %}
              <div class="bloc-tags">
                {% for tag in post.tag_list %}
                <a class="tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{
                  tag.name
                  }}</a>
                {% if not loop.last %}{% endif %}
                {% endfor %}
              </div>
            {% endif %}
            <a href="{{ post.absolute_url }}" class="bloc-txt">
              <h3>
                {{ post.name }}
              </h3>
              {% if post.post_summary %}
                  <div class="text">
                    {{ post.post_summary }}              
                  </div>
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </section>
  {% if tag == "case-studies" %}
    {% module_block module "logos" path="../../modules/logos.module", label="Logos"%}{% end_module_block %}
    {% module_block module "latest-news" path="../../modules/latest-news.module", label="Latest news"%}{% end_module_block %}
  {% endif %}
  <!-- Pagination - You can manage it here -->
  {% if next_page_num %}
    <nav class="blog-pagination">
      {% set page_list = [-2, -1, 0, 1, 2] %}
      {% if contents.total_page_count - current_page_num == 1 %}{% set offset = -1 %}
      {% elif contents.total_page_count - current_page_num == 0 %}{% set offset = -2 %}
      {% elif current_page_num == 2 %}{% set offset = 1 %}
      {% elif current_page_num == 1 %}{% set offset = 2 %}
      {% else %}{% set offset = 0 %}{% endif %}

      <a class="previous"
        href="{{ blog_page_link(last_page_num) }}">
      </a>
      <div class="container-pagination-link">
        {% for page in page_list %}
        {% set this_page = current_page_num + page + offset %}
        {% if this_page > 0 and this_page <= contents.total_page_count %} <a
          class="blog-pagination__number-link {{ "
          blog-pagination__link--active" if this_page==current_page_num }}" href="{{ blog_page_link(this_page) }}">{{
          this_page }}</a>
          {% endif %}
          {% endfor %}
      </div>
      <a class="next {{ "blog-pagination__next-link--disabled" if !next_page_num }}" href="{{ blog_page_link(current_page_num + 1) }}">
      </a>
    </nav>
  {% endif %}
  {% module_block module "banner-cta" path="../../modules/banner-cta.module", label="Banner CTA"%}{% end_module_block %}
</main>
{% module_block module "footer" path="../../modules/footer.module", label="Footer"%}{% end_module_block %}
{% endblock body %}