<section id="{{module.module_identity}}" class="hero-section {% if module.video %}bg-file{% endif %} {% if module.image.src %}hero-section-img{% endif %}" data-scroll-section>
    <div class="hero-section-container container">
        <div class="hero-section-container__bloc-title">
            <div class="bloc-title">
                {% if module.title %}
                    {% inline_rich_text field="rich_text" value="{{ module.title }}" %}
                {% endif %}
                <svg width="156" height="141" viewBox="0 0 156 141" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 0.5V120C1 131.046 9.95431 140 21 140H155.5" stroke="white" stroke-opacity="0.6" stroke-width="0.5"/>
                    <path d="M1 0.5V120C1 131.046 9.95431 140 21 140H155.5" id="line2" stroke="white" stroke-width="2"/>
                </svg>
            </div>
            <div class="bloc-txt">
                {% inline_rich_text field="rich_text" value="{{ module.text }}" %}
                <div class="row-btns">
                    {% if module.button_text %}
                        <a href="{{ module.button_url.href }}" class="btn primary"><span>{{ module.button_text }}</span></a>
                    {% else %}
                        {{ module.cta_field }}
                    {% endif %}
                    {% if module.second_button_text %}
                        <a href="{{ module.second_button_url.href }}" class="btn secondary">{{ module.second_button_text }}</a>
                    {% else %}
                        {{ module.cta_field }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="hero-section-container__bloc">
            {% if module.image.src %}
            <figure class="figure">
                <img class="img-fluid" data-speed="0.85" src="{{ module.image.src }}" loading="lazy" alt="{{ module.image.alt }}" />
            </figure>
            {% endif %}
        </div>
    </div>
    {% if module.video %}
        <div class="bg-file">
            <video muted preload="none" data-speed="0.85" loop>            
                <source src="{{ module.video }}"  type="video/mp4">            
            </video>
        </div>
    {% endif %}
</section>