section.banner-cta{
    background-color:$color1;
    &.bg-purple{
        background-color:$color2;
    }
    div.container{
        position: relative;
        z-index:2;
        padding:120px 0px;
        @media(max-width:$size1){
            padding:80px 30px;
        }
        div.bloc-title{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @media(max-width:$size4){
                flex-direction: column;
                align-items: center;
            }
            h2{
                color:#fff;
                font-size:55px;
                margin-left:200px;
                font-weight:400;
                line-height:65px;
                max-width:700px;
                @media(max-width:900px){
                    margin-left:50px;
                }
                @media(max-width:$size4){
                    font-size:35px;
                    margin-left:0px;
                    text-align: center;
                    line-height:45px;
                }
                strong{
                    transform: translateX(-200px);
                    position: relative;
                    display:block;
                    font-weight:700;
                    margin-bottom:25px;
                    @media(max-width:900px){
                        transform: translateX(-50px);
                        margin-bottom:25px;
                    }
                    @media(max-width:$size4){
                        transform: translateX(0px);
                        margin-bottom:15px;
                    }
                }
            }
            div.row-btns{
                opacity:0;
                transform: translateY(20px);
                @media(max-width:$size4){
                    padding-right: 0px;
                    margin-top:35px;
                }
            }
        }
    }
}