header{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:100;
    @media(max-width:$size4){
        transition: 0.5s;
    }
    &.open{
        @media(max-width:$size4){
            background-color: $color1;
            transition: 0.5s;
            box-shadow:inherit;
        }
    }
    &.sticky{
        top:-92px;
        background-color: $color1;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
        transition: 0.35s;
        -webkit-transition:0.35s;
        @media(max-width:$size4){
            top:0px;
        }
        &.active{
            top:0px;
            transition: 0.5s;
            -webkit-transition:0.5s;
           
        }
    }
    div.container{
        height:92px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width:1170px;
        div{
            display:flex;
            align-items:center;
            a.logo{
                width:185px;
                height:37px;
                display:block;
                margin-right:47px;
                figure{
                    margin-bottom:0px;
                    img{
                        max-height:100%;
                        max-width:100%;
                    }
                }
            }
            
            nav{
                @media(max-width:$size4){
                    display:none;
                }
                ul{
                    margin:0px;
                    padding:0px;
                    display:flex;
                    li{
                        margin-right:35px;
                        list-style: none;
                        a{
                            color:#fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        a.btn{
            @media(max-width:$size4){
                display:none;
            }
        }
        div.burger-menu{
            width:26px;
            height:50px;
            position: relative;
            overflow: hidden;
            display:none;
            @media(max-width:$size4){
                display:block;
            }
            &.open{
                div{
                    &.btn-open{
                        &:before{
                            transform: translateX(-100%);
                            opacity:0;
                        }
                        &:after{
                            width:100%;
                            transform: translateX(100%);
                            opacity:0;
                        }
                    }
                    &.btn-close{
                        &:before{
                            transform: rotate(-45deg) translateX(0%);
                            opacity:1;
                        }
                        &:after{
                            transform: rotate(45deg) translateX(0%);
                            opacity:1;
                        }
                    }
                }
               
            }
            div.btn-open{
                width:100%;
                height:100%;
                
                &:before{
                    display:block;
                    content:'';
                    position: absolute;
                    top:calc(50% - 3px);
                    width:100%;
                    height:2px;
                    background-color: #fff;
                    border-radius: 3px;
                    transition: 0.55s;
                    -webkit-transition: 0.55s;
                    //transition-timing-function: cubic-bezier(.02,.89,0,1.07);
                }
                &:after{
                    display:block;
                    content:'';
                    position: absolute;
                    top:calc(50% + 3px);
                    width:17px;
                    height:2px;
                    background-color: #fff;
                    border-radius: 3px;
                    transition: 0.55s;
                    -webkit-transition: 0.55s;
                    //transition-timing-function: cubic-bezier(.02,.89,0,1.07);
                }
            }
            div.btn-close{
                width:100%;
                height:100%;
                position: absolute;
                top:0px;
                left:0px;
                &:before{
                    display:block;
                    content:'';
                    position: absolute;
                    top:calc(50%);
                    width:26px;
                    height:2px;
                    background-color: #fff;
                    border-radius: 3px;
                    transition: 0.35s;
                    -webkit-transition: 0.35s;
                    //transition-timing-function: cubic-bezier(.02,.89,0,1.07);
                    transform: rotate(-45deg) translateX(150%);
                    transform-origin: center;
                    opacity:0;
                }
                &:after{
                    display:block;
                    content:'';
                    position: absolute;
                    top:calc(50%);
                    width:26px;
                    height:2px;
                    background-color: #fff;
                    border-radius: 3px;
                    transition: 0.35s;
                    -webkit-transition: 0.35s;
                    //transition-timing-function: cubic-bezier(.02,.89,0,1.07);
                    transform: rotate(45deg) translateX(150%);
                    transform-origin: center;
                    opacity:0;
                }
            }
           
        }
    }
}
div.menu-mobile{
    background-color: $color1;
    height:calc(100vh - 92px);
    transition: 0.45s;
    transform: translateX(-100%);
    position: fixed;
    top:92px;
    display:none;
    left:0px;
    z-index:20;
    width:100%;
    padding:0px 30px;
    @media(max-width:$size4){
        display:block;
    }
    &.open{
        transform: translateX(0px);
    }
    nav{
        padding:50px 0px;
        ul{
            margin:0px;
            padding:0px;
            li{
                list-style-type: none;
                margin-bottom:13px;
                a{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
    }
}