section.hero-features{
    position: relative;
    background-color: $color1;
    div#contain-canvas{
        position: absolute;
        top:0px;
        left:0px;
        z-index:0;
        width:100%;
        height:100%;
        canvas{
            position: absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            z-index:0;
        }
    }
    @media(max-width:$size4){
        padding-bottom:50px;
    }
    div.container{
        position: relative;
        padding-top:240px;
        max-width:965px;
        @media(max-width:$size4){
            padding-top:170px;
        }
        div.bloc-title{
            padding-bottom:5px;
            h1{
                color:#fff;
                font-size:80px;
                line-height:93px;
                margin-bottom:30px;
                @media(max-width:$size4){
                    font-size:45px;
                    line-height:50px;
                }
                strong{
                    display: block;
                    padding-left:115px;
                    margin-top:25px;
                    @media(max-width:$size4){
                        padding-left:0px;
                        margin-top:0px;
                    }
                }
            }
            p{
                color:#fff;
                max-width:635px;
                opacity:0;
            }
            div.row-btns{
                margin-top:60px;
                opacity:0;
                transform: translateY(20px);
            }
            svg{
                position: absolute;
                right:120px;
                bottom:-55px;
                @media(max-width:$size4){
                    display:none
                }
                path#line2{
                    stroke-dashoffset: 46;
                    stroke-dasharray: 46 711;
                    animation: followpathHeroFeatures 2.8s ease-in-out;
                    animation-fill-mode: forwards;                    
                    @keyframes followpathHeroFeatures {
                        to {
                            stroke-dashoffset: -620;
                        }
                    }
                }
            }
        }
        &.container-slide{
            max-width:100%;
            z-index:2;
            position: relative;
            padding-top: 155px;
            padding-bottom:80px;
            @media(max-width:$size1){
                padding:40px 0px 0px 0px;
            }
            &:before{
                display:none;
            }
            div.blocs{
                position: relative;
                display:flex;
                justify-content: center;
                align-items: center;
                height:110px;
                width:100%;
                mask-image:linear-gradient(90deg,transparent,#000 80px,#000 90%,transparent);
                -webkit-mask-image:linear-gradient(90deg,transparent,#000 80px,#000 90%,transparent);
                opacity:1;
                div.flickity-viewport{
                    width:100%;
                    div.flickity-slider{
                        width:100%;
                    }
                }
                div.bloc{
                    margin:0px 42px;
                    display:flex;
                    align-items: center;
                    justify-content:center;
                    opacity:0.5;
                    height:40px;
                    img{
                        max-width:140px;
                        max-height:30px;
                        height:auto;
                        width:auto;
                        opacity:1;
                        @media(max-width:$size4){
                            max-height:30px;
                            max-width:130px;
                        }
                    }
                }
            }
        }
    }
}