section.key-numbers{
    height:100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    div.container{
        padding-right:100px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:30px 0px 60px 0px;
        @media(max-width:$size4){
            flex-direction:column;
            padding-right:30px;
            padding-left:30px;
            justify-content: center;
            padding-top:50px;
        }
        div.bloc-txt{
            max-width:430px;
            width:100%;
            @media(max-width:$size4){
                max-width:100%;
                margin-bottom:60px;
            }
            h2{
                margin-bottom:30px;
                strong{
                    padding-left:80px;
                    display:block;
                    margin-top:5px;
                }
            }
            p{
                padding-left:80px;
                &.subtitle{
                    padding-left:0px;
                }
            }
        }
        div.bloc-list-numbers{
            max-width:500px;
            padding-top:50px;
            width:100%;
            @media(max-width:$size4){
                max-width:100%;
                padding-top:30px;
            }
            div.bloc-number{
                display:flex;
                flex-direction:column;
                overflow:hidden;
                height:60px;
                width:100%;
                @media(max-width:$size4){
                    height:60px;
                }
                div.numbers{
                    transform: rotate(90deg);
                    div.flickity-viewport{
                        overflow: inherit;
                        z-index:0;
                        height:100%;
                        div.flickity-slider{
                            width:100%;
                            height:100%;
                        }
                    }
                    div.number{
                        
                        width:100%;
                        
                        
                        
                        div.contain-number{
                            transform: rotate(-90deg) !important;
                            line-height:60px;
                            font-weight:600;
                            font-size:60px;
                            display: flex;
                            align-items: center;
                            width:100%;
                            @media(max-width:$size4){
                                font-size:60px;
                                line-height:60px;
                            }
                        }
                        &:nth-child(1){
                            span.word{
                                span.char{
                                    transform: translateY(0px);
                                }
                            }
                            
                        }
                        span.word{
                            span.char{
                                position: relative;
                                display: inline-block;
                                transform: translateY(110px);
                            }
                        }
                    }
                }
            }
            div.bloc-text-number{
                height:18px;
                overflow:hidden;
                margin-top:45px;
                @media(max-width:$size4){
                    margin-top:15px;
                }
                div.texts{
                    transform: rotate(90deg);
                    div.flickity-viewport{
                        overflow: inherit;
                        z-index:0;
                        height:100%;
                        div.flickity-slider{
                            width:100%;
                            height:100%;
                        }
                    }
                    div.text{
                        line-height:18px;
                        width:100%;
                        text-align: left;
                        opacity:0;
                        transition: 0.5s;
                        div.contain-text{
                            line-height:18px;
                            transform: rotate(-90deg);
                            width:100%;
                            text-align: left;
                        }
                        &:nth-child(1){
                            opacity:1;
                        }
                        &.is-selected{
                            opacity:1;
                        }
                        span.char{
                            position: relative;
                            display: inline-block;
                            
                        }
                    }
                }
            }
        }
    }
    svg{
        display:block;
        position: relative;
        @media(max-width:$size4){
            display:none;
        }
        &.line-1{
            left:53%;
            transform: translateX(-50%);
            &.active{
                path#line2{
                    animation: followpathNumbers1 2.8s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes followpathNumbers1 {
                        to {
                            stroke-dashoffset: -620;
                        }
                    }
                }
            }
            path#line2{
                stroke-dashoffset: 46;
                stroke-dasharray: 46 711;
            }
        }
        &.line-2{
            left:50%;
            transform: translateX(-50%);
            &.active{
                
                path#line2{
                    
                    animation: followpathNumbers2 2.8s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes followpathNumbers2 {
                        to {
                            stroke-dashoffset: -525;
                        }
                    }
                    
                }
                
            }
            path{
                &#line2{
                    stroke-dashoffset: 30;
                    stroke-dasharray: 30 525;
                }
            }
        }
        
    }
}