section.logos{
    background-color:$color1;
    overflow: hidden;
    div.container{
        max-width:1000px;
        justify-content: space-between;
        display:flex;
        @media(max-width:900px){
            flex-direction: column;
        }
        &.active{
            &:before,&:after{
                height:85%;
            }
        }
        &:after{
            display:block;
            content:'';
            position: absolute;
            right:0px;
            background-color: rgba(#fff,0.6);
            width:1px;
            height:0%;
            bottom:0px;
            transition: 1s;
        }
        div.bloc-title{
            padding:100px 0px;
            max-width:400px;
            @media(max-width:900px){
                padding:100px 0px 50px 0px;
            }
            h2,p{
                color:#fff;
                &.subtitle{
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            h2{
                margin-bottom:30px;
                margin-top:10px;
            }
            a.btn{
                margin-top:45px;
                position: relative;
                display:inline-block;
            }
        }
        div.bloc-logos{
            display:flex;
            transform: rotate(30deg);
            position: relative;
            max-height:500px;
            @media(max-width:900px){
                overflow: hidden;
                transform: translateY(50px) rotate(30deg);
            }
            &.active{
                &:before,&:after,span.line{
                    height:85%;
                }
            }
            span.line{
                display:block;
                position: absolute;
                left:50%;
                background-color: rgba(#fff,0.6);
                width:1px;
                height:0%;
                top:-60px;
                transition: 1s;
                text-indent: -9999px;
            }
            &:before{
                display:block;
                content:'';
                position: absolute;
                left:0px;
                background-color: rgba(#fff,0.6);
                width:1px;
                height:0%;
                top:66%;
                transition: 1s;
                @media(max-width:900px){
                    top:0px;
                }
            }
            &:after{
                display:block;
                content:'';
                position: absolute;
                right:0px;
                background-color: rgba(#fff,0.6);
                width:1px;
                height:0%;
                bottom:0px;
                transition: 1s;
            }
            div.bloc-line{
                display: flex;
                flex-direction: column;
                padding:0px 60px;
                position: relative;
                @media(max-width:$size4){
                    padding:0px 30px;
                }
                &.bloc-line-1{
                    top:30%;
                    &:after{
                        display:block;
                        content:'';
                        position: absolute;
                        right:0px;
                        background-color: rgba(#fff,0.6);
                        width:1px;
                        height:0%;
                        bottom:0px;
                        transition: 1s;
                    }
                    div.bloc{
                        transform: translateY(30px);
                    }
                }
                &.bloc-line-2{
                    top:-30%;
                    @media(max-width:$size4){
                        top:-200%;
                    }
                    div.bloc{
                        transform: translateY(-30px);
                    }
                }
                div.bloc{
                    margin-bottom:50px;
                    border-radius: 10px;
                    width:105px;
                    height:105px;
                    min-width:105px;
                    min-height:105px;
                    display:block;
                    opacity:0;
                    padding:7px;
                    figure{
                        margin:0px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        width:100%;
                        height:100%;
                        img{
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}