section.our-client{
    &.bg-color{
        @media(max-width:1260px){
            padding:90px 20px 90px 20px;
        }
        div.container{
            background-image: url('https://25642218.fs1.hubspotusercontent-eu1.net/hubfs/25642218/bg-gradient.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding:80px 120px 20px 120px;
            @media(max-width:1260px){
                padding:60px 45px 0px 45px;
            }
            div.bloc-title{
                h2{
                    color:#fff;
                }
                p{
                    color: #FAFAFB;
                    &.subtitle{
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
            div.blocs{
                div.bloc{
                    p{
                        color: #fafafb;
                    }
                }
            }
        }
    }
    div.container{
        padding:0px 120px 0px 120px;
        border-radius: 5px;
        @media(max-width:1260px){
            max-width:calc(100%);
            padding:0px 30px;
        }
        div.bloc-title{
            display:flex;
            justify-content: space-between;
            align-items: flex-end;
            @media(max-width:$size4){
                flex-direction:column;
                align-items: flex-start;
            }
            h2{
                margin-top:5px;
                margin-bottom:5px;
            }
            p{
                max-width:635px;
                font-size:15px;
                line-height:25px;
                &.subtitle{
                    font-size: 10px;
                    line-height: 12px;
                }
            }
            div.row-btns{
                @media(max-width:$size4){
                    margin-top:30px;
                }
            }
        }
        div.blocs{
            display:flex;
            margin-top:60px;
            flex-wrap: wrap;
            flex-grow:2;
            div.bloc{
                max-width:340px;
                margin-right:95px;
                margin-bottom:60px;
                @media(max-width:$size4){
                    max-width:calc(100%);
                    margin-right:0px;
                }
                figure{
                    margin-bottom:0px;
                    img{
                        max-height:25px;
                    }
                }
                p{
                    font-size:15px;
                    line-height: 25px;
                    &.title{
                        font-weight: 600;
                        margin-bottom:15px;
                        margin-top:15px;
                    }
                }
            }
        }
    }
}