//Here you can manage all your container settings
$size1:1110px;
$size2:990px;
$size4:768px;

// Section managing
.section-sm {
    padding: 60px 0;
}
.section-md, .section{
    padding: 90px 0;
}
.section-lg {
    padding: 120px 0;
}
.section-xl {
    padding: 170px 0;
}

// Container managing
.container-fluid {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.container-sm {
    float: none;
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}

.container, .container-md { 
    float: none;
    max-width: $size1;
    width: 100%;
    margin: 0 auto;
    @media(max-width:$size1){
        padding:0px 20px;
    }
}

.container-lg {
    float: none;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

.container-xl {
    float: none;
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
}
