main.blog-listing{
  
  section.listing-posts{
    padding:75px 0px 120px 0px;
    @media(max-width:$size4){
      padding:75px 0px 75px 0px;
    }
    &.listing-posts-tags{
      padding:150px 0px 120px 0px;
      @media(max-width:$size4){
        padding:75px 0px 75px 0px;
      }
      div.container{
        div.bloc{
          border:none;
          margin-bottom:30px;
          padding-bottom:0px;
          @media(max-width:$size4){
            margin-bottom:60px;
          }
          &:nth-child(2n+2){
            margin-top:90px;
            @media(max-width:$size4){
              margin-top:0px;
            }
          }
          
        }
      }
    }
    div.container{
      display:flex;
      justify-content: space-between;
      flex-wrap:wrap;
      flex-grow:2;
      max-width:1020px;
      div.bloc-list-tags{
        display:flex;
        justify-content: center;
        margin-bottom:60px;
        width:100%;
        flex-wrap:wrap;
        a.tag{
          font-weight: 600;
          font-size: 18px;
          color: rgba(2, 45, 84, 0.3);
          text-decoration: none;
          margin:0px 22px;
          transition: 0.5s;
          &.selected,&:hover{
            color:$color1;
            span.number{
              opacity:1;
              &:after{
                  width:5px;
              }
            }
          }
          span.number{
            color:$color1;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            position: relative;
            padding-bottom:2px;
            display:block;
            opacity:0;
            transition: 0.5s;
            margin-bottom:15px;
            transform: translateY(10px);
            &:after{
              display:block;
              content:'';
              position: absolute;
              bottom:0px;
              background-color: $color2;
              width:0%;
              height:1px;
              transition: 0.75s;
              transition-delay: 0.2s;
            }
          }
          span.item{

          }
        }
      }
      div.bloc{
        width:100%;
        max-width:445px;
        border-bottom: 1px solid rgba(#033C71,0.2);
        margin-bottom:65px;
        opacity:0;
        transform: translateY(45px);
        &:hover{
          h3{
            &:before{
              transform: translateX(100%);
            }
            &:after{
              transform: translateX(0%);
            }
          }
        }
        a.bloc-img{
          height:270px;
          width:100%;
          display:block;
          position: relative;
          margin-bottom:30px;
          overflow:hidden;
          &:hover{
            img.fit-cover{
              transform: scale(1.05);
            }
          }
          img{
            display:block;
            object-fit: cover;
            width:100%;
            height:100%;
            object-position: center;
            transition: 0.5s;
          }
          div.bloc-logo{
            position: absolute;
            bottom:0px;
            left:0px;
            width:100%;
            height:100%;
            padding:45px;
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            background: linear-gradient(0deg, #022D54 0%, rgba(2, 45, 84, 0) 100%);
            p{
              font-weight: 500;
              font-size: 15px;
              line-height: 18px;
              color: #FFFFFF;
              opacity: 0.8;
            }
            img{
              height:inherit;
              width:inherit;
              max-width:135px;
              object-fit: inherit;
              object-position: inherit;
              margin-top:12px;
              height:auto;
              width:auto;
            }
          }
        }
        div.bloc-tags{
          margin-bottom:30px;
          a.tag{
            font-size: 15px;
            line-height: 18px;
            color: rgba(3, 60, 113, 0.3);
            text-decoration: none;
          }
        }
        h3{
          padding-bottom:0px;
          position: relative;
          overflow:hidden;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: rgba(3, 60, 113, 0.6);
          transition: 0.5s;
          &:hover{
            color: rgba(3, 60, 113, 1);
            a{
              color: rgba(3, 60, 113, 1);
            }
          }
          a{
            padding-bottom:45px;
            display:block;
            color: rgba(3, 60, 113, 0.6);
            transition: 0.5s;
          }
          &:hover{
            &:before{
              transform: translateX(100%);
            }
            &:after{
              transform: translateX(0%);
            }
          }
          &:before{
            display:block;
            content:'';
            position: absolute;
            left:0px;
            bottom:0px;
            background-color: rgba(#033C71,0.2);
            height:1px;
            width:100%; 
            transition: 0.5s;
          }
          &:after{
            display:block;
            content:'';
            position: absolute;
            left:0px;
            bottom:0px;
            background-color: $color1;
            height:1px;
            width:100%;
            transform: translateX(-100%);
            transition: 0.5s;
          }
        }
      }
    }
  }
  nav.blog-pagination{
    display:flex;
    justify-content: center;
    margin-bottom:120px;
    a.previous{
      display:block;
      width:40px;
      height:40px;
      margin-right:10px;
      background-color: $color1;
      transition: 0.5s;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.10157 16.8204C8.59859 17.323 9.40443 17.323 9.90146 16.8204C10.3985 16.3178 10.3985 15.5029 9.90146 15.0003L5.07418 10.1187L19.0001 10.1187C19.703 10.1187 20.2728 9.54251 20.2728 8.8317C20.2728 8.1209 19.703 7.54467 19.0001 7.54467L5.07418 7.54467L9.90146 2.66311C10.3985 2.16049 10.3985 1.34559 9.90146 0.842977C9.40443 0.34036 8.59859 0.34036 8.10157 0.842977L1.10164 7.92163C0.604608 8.42425 0.604608 9.23915 1.10164 9.74177L8.10157 16.8204Z' fill='%23022D54'/%3E%3C/svg%3E");
      &:hover{
        background-color: $color2;
      }
    }
    a.next{
      display:block;
      width:40px;
      height:40px;
      margin-left:10px;
      transition: 0.5s;
      background-color: $color1;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8984 1.17957C12.4014 0.676958 11.5956 0.676958 11.0985 1.17957C10.6015 1.68219 10.6015 2.49709 11.0985 2.99971L15.9258 7.88127H1.99989C1.29699 7.88127 0.727173 8.45749 0.727173 9.1683C0.727173 9.8791 1.29699 10.4553 1.99989 10.4553H15.9258L11.0985 15.3369C10.6015 15.8395 10.6015 16.6544 11.0985 17.157C11.5956 17.6596 12.4014 17.6596 12.8984 17.157L19.8984 10.0784C20.3954 9.57575 20.3954 8.76085 19.8984 8.25823L12.8984 1.17957Z' fill='%23022D54'/%3E%3C/svg%3E%0A");
      &:hover{
        background-color: $color2;
      }
    }
    div.container-pagination-link{
      display:flex;
      justify-content: center;
      
      a{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: $color1;
        border-radius: 50%;
        width:40px;
        height:40px;
        background: rgba(3, 60, 113, 0.1);
        color:$color1;
        margin:0px 15px;
        text-decoration: none;
        transition: 0.5s;
        @media(max-width:$size4){
          margin:0px 7px;
        }
        &:hover{
          background-color: $color1;
          color:#fff;
        }
        &.blog-pagination__link--active{
          background-color: $color1;
          color:#fff;
        }
      }
    }
  }
}
