main.single-post{
  &.single-case-studies{
    section.single-post-hero{
      padding-bottom:0px;
      margin-bottom:100px;
      &:after{
        display:none;
      }
    }
  }
  section.single-post-hero{
    position: relative;
    padding-top:200px;
    //padding-bottom:60px;
    background-color: $color1;
    @media(max-width:$size4){
      margin-bottom:45px;
    }
    &:after{
      display:block;
      content:'';
      position: absolute;
      background-color: #fff;
      width:100%;
      height:213px;
      bottom:-1px;
      left:0px;
      @media(max-width:$size4){
        display:none;
      }
    }
    div.bloc-img-case-study{
      width:100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      left:0px;
      top:0px;
      figure{
        display:block;
        width:100%;
        height:100%;
        img{
          display:block;
          width:120%;
          height:120%;
          object-position: center;
          object-fit: cover;
          top:-10%;
        }
      }
      &:after{
        display: block;
        content:'';
        position: absolute;
        left:0px;
        top:0px;
        background-color: rgba($color1,0.85);
        width:100%;
        height:100%;
      }
    }
    div.container{
      position: relative;
      z-index:2;
      display:flex;
      justify-content: space-between;
      @media(max-width:$size4){
        flex-direction:column;
      }
      div.bloc-title{
        width:calc(100%);
        max-width:730px;
        h1{
          font-weight: bold;
          color:#fff;
          font-size:50px;
          line-height:70px;
          max-width:635px;
          @media(max-width:$size4){
            line-height:60px;
          }
        }
        p{
          color:#fff;
          max-width:635px;
        }
        div.infos{
          display:flex;
          margin-top:30px;
          @media(max-width:$size4){
            flex-wrap:wrap;
          }
          div{
            margin-right:80px;
            @media(max-width:$size4){
              margin-right:40px;
            }
            p.title{
              color: rgba(255, 255, 255, 0.63);
              font-weight:bold;
            }
            p,a{
              color:#fff;
              opacity:1;
              text-decoration: none;
            }
            div.contain-logo-case-study{
              height:100%;
              display:flex;
              align-items: flex-end;
              img{
                max-width:195px;
                max-height:45px;
                width:auto;
                height:auto;
              }
            }
          }
        }
        div.bloc-img{
          width:100%;
          max-width:635px;
          border-radius: 5px;
          height: 360px;
          overflow: hidden;
          margin-top:55px;
          @media(max-width:$size4){
            height:250px;
          }
          figure{
            display:block;
            width:100%;
            height:100%;
            img{
              display:block;
              width:100%;
              height:100%;
              object-fit: cover;
            }
          }
        }
        div.bloc-breadcrumb{
          margin-top:30px;
          nav{
            ul{
              li{
                margin-right:23px;
                position: relative;
                &:last-child{
                  &:after{
                    display:none;
                  }
                }
                &:after{
                  content:'';
                  position: absolute;
                  right:-12px;
                  display:block;
                  width:6px;
                  height:9px;
                  background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L1 7' stroke='%23022D54' stroke-opacity='0.3'/%3E%3C/svg%3E");
                  background-repeat: no-repeat;
                  background-size: contain;
                  top:11px;
                }
                a{
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 0.12em;
                  text-transform: uppercase;
                  color: rgba(2, 45, 84, 0.3);
                  text-decoration: none;
                  @media(max-width:$size4){
                    color:#fff;
                  }
                }
              }
            }
          }
        }
      }
      div.bloc-txt{
        max-width:350px;
        width:100%;
        @media(max-width:$size4){
          margin-top:45px;
        }
        svg{
          margin-bottom:90px;
          margin-top:45px;
          @media(max-width:$size4){
            display:none;
          }
          path#line2{
            stroke-dashoffset: 40;
            stroke-dasharray: 40 711;
            animation: followpathHeroFeatures 2.8s ease-in-out;
            animation-fill-mode: forwards;                    
            @keyframes followpathHeroFeatures {
                to {
                    stroke-dashoffset: -620;
                }
            }
          }
        }
        p{
          color:#fff;
          font-size:18px;
          line-height:28px;
        }
      }
    }
  }
  section.contain-post{
    margin-bottom:150px;
    div.container{
      max-width:730px;
      &.bloc-case-studies{
        max-width:1020px;
        display:flex;
        justify-content: space-between;
        @media(max-width:$size4){
          flex-direction:column;
        }
        div.bloc-case-study{
          max-width:280px;
          width:100%;
          padding:0px 50px 45px 0px;
          background-color: #fff;
          border-right:1px solid rgba($color1,0.1);
          margin-right:75px;
          position: relative;
          @media(max-width:$size4){
            max-width:100%;
            border:none;
            margin-right:0px;
            order:2;
          }
          div.bloc{
            margin-top:30px;
            div.contain-logo-case-study{
              width:100%;
              margin-bottom:30px;
              img{
                max-width:170px;
                max-height:78px;
                width:auto;
                height:auto;
              }
            }
            &.active{
              position: fixed;
            }
            p.title{
              font-weight:bold;
              margin-top:20px;
              font-size:18px;
              line-height:20px;
              color:$color1;
              &:nth-child(1){
                margin-top:0px;
              }
            }
            a{
              color:$color1;
              margin-bottom:20px;
              display: inline-block;
              margin-top:3px;
              &.btn{
                margin-top:25px;
                color:#fff;
                &.secondary{
                  color:$color1;
                  margin-top:3px;
                }
                &:hover{
                  color:$color1;
                }
              }
            }
          }
        }
        div.bloc-post{
          width:100%;
          @media(max-width:$size4){
            order:1;
          }
        }
      }
      
      div.bloc-anchor-post{
        border-top:1px solid rgba(2, 45, 84, 0.05);
        border-bottom:1px solid rgba(2, 45, 84, 0.05);
        padding:30px 0px;
        margin-bottom:30px;
        ul{
          margin:0px;
          padding:0px;
          li{
            list-style-type: none;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: rgba(2, 45, 84, 0.3);
            cursor: pointer;
            transition: 0.5s;
            margin-bottom:20px;
            &:last-child{
              margin-bottom:0px;
            }
            &:hover{
              color:$color1;
            }
          }
        }
      }
      div.bloc-contain-post{
        h2{
          font-size:30px;
          line-height:35px;
          margin-top:45px;
        }
        img{
          padding:20px 0px;
          max-width:100% !important;
          width:auto;
        }
        a{
          color:$color2;
          text-decoration: underline;
        }
      }
      
      div.bloc-author{
        padding-top:34px;
        border-top: 1px solid rgba(16, 22, 35, 0.5);
        display:flex;
        margin-top:20px;
        margin-bottom:50px;
        div.bloc-img{
            display:block;
            width:83px;
            height:83px;
            border-radius: 10px;
            overflow: hidden;
            margin-right:30px;
            figure{
                display:block;
                width:100%;
                height:100%;
                img{
                    display:block;
                    object-fit: cover;
                    width:100%;
                    height:100%;
                    object-position: center;
                }
            }
        }
        div.bloc-infos{
            width:calc(100% - 83px);
            p.name{
                margin-top:0px;
                font-size:20px;
                line-height:28px;
                font-weight: 600;
                margin-bottom:10px;
            }
        }
      }
    }
  }
}
