<section id="{{module.module_identity}}" data-scroll-section class="tabs {% if module.content_style.background == 'black' %}bg-black{% endif %} {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-title">
            {% if module.subtitle %}
                <p class="subtitle">{{ module.subtitle }}</p>
            {% endif %}
            {% inline_rich_text field="rich_text" value="{{ module.Title }}" %}
        </div>
    </div>
    <div class="container">
        <div class="bloc-titles">
            {% set i = 0 %}
            {% for item in module.tabs %}
                {% set i = i + 1 %}
                <div class="bloc {% if loop.first %}selected{% endif %}" data-id="{{ i }}">
                    <span class="number">{% if i < 10%}0{% endif %}{{ i }}</span>
                    <span class="title">{{ item.subtitle }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="bloc-imgs">
            {% set i = 0 %}
            {% for item in module.tabs %}
                {% set i = i + 1 %}
                <div class="bloc {% if loop.first %}selected{% endif %}" data-id="{{ i }}">
                    <div class="contain">
                        <div class="bloc-txt">
                            <h2>{{ item.title }}</h2>
                            <div class="txt">
                                {{ item.text }}
                            </div>
                            {% if item.button_url.href %}
                                <a href="{{ item.button_url.href }}" class="btn secondary"><span>{{ item.button_text }}</span></a>
                            {% endif %}
                        </div>
                        <div class="bloc-img " >
                            {% if item.image.src %}
                                <figure class="figure">
                                    <img class="img-fluid" src="{{ item.image.src }}" width="{{ item.image.width }}" height="{{ item.image.height }}" loading="lazy" alt="{{ item.image.alt }}" />
                                </figure>
                            {% else %}
                                <figure class="figure">
                                    <img class="img-fluid" loading="lazy" src="https://via.placeholder.com/600x600/919388/ffffff.png?text=600x600">
                                </figure>
                            {% endif %}
                        </div>
                    </div>                    
                </div>
            {% endfor %}
        </div>
        <svg width="447" height="96" viewBox="0 0 447 96" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M446 0V41.4947C446 52.5403 437.046 61.4947 426 61.4947H21C9.9543 61.4947 1 70.449 1 81.4947V96" stroke="#022D54" stroke-opacity="0.4" stroke-width="0.5"/>
            <path d="M446 0V41.4947C446 52.5403 437.046 61.4947 426 61.4947H21C9.9543 61.4947 1 70.449 1 81.4947V96" id="line2" stroke="#722281" stroke-width="2"/>
        </svg>
    </div>
</section>