<section id="{{module.module_identity}}" class="banner-cta bg-{{ module.content_style.background_color }} {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="bloc-title">
            {% inline_rich_text field="rich_text" value="{{ module.title }}" %}
            {% if module.button_url.href %}
                <div class="row-btns">
                    <a href="{{ module.button_url.href }}" class="btn primary"><span>{{ module.button_text }}</span></a>
                </div>
            {% else if module.cta_field %}
                <div class="row-btns">
                    {{ module.cta_field }}
                </div>
            {% endif %}
        </div>
    </div>
</section>