<footer class="footer-landing {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        {% if module.logo.src %}
        <a href="{{ module.logo_link.url.href }}" class="logo">
            <figure class="figure">
                <img class="img-fluid"loading="lazy" width="{{ module.logo.width }}" height="{{ module.logo.height }}" src="{{ module.logo.src }}" alt="{{ module.logo.alt }}" />
            </figure>
        </a>
        {% endif %}
        <div class="bloc-nav">
            <nav>
                {% menu "footer_menu_landing" id={{ module.footer_menu_landing }}, site_map_name='Default', overrideable=False, root_type='site_root', flyouts='true', max_levels='2', flow='horizontal', label='Advanced Menu' %}
            </nav>
        </div>
    </div>
</footer>