main.error-page{
    section.error500-page{
        padding:250px 0px;
        position: relative;
        background-color: $color1;
        div.container{
            position: relative;
            z-index:2;
            h1{
                line-height:95px;
            }
            h1,p{
                color:#fff;
            }
            a.btn{
                margin-top:30px;
            }
        }
    }
}