main.error-page{
    section.error404-page{
        padding:250px 0px;
        position: relative;
        background-color: $color1;
        div.container{
            h1{
                color:#fff;
            }
        }
    }
}