.footer {
  .main-footer {
    ul {
      li {
        & + li {
          margin-top: 15px;
        }
        a {
          text-decoration: none;
          font-family: 'MuseoSans-500';
          color: rgba($black, 0.5);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .sub-footer {
    background-color: $grey;
    .copy-wrapper {
      justify-content: space-between;
      .social-wrapper a + a {
        margin-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .sub-footer {
      .copy-wrapper {
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
