<div id="{{module.module_identity}}"
    class="image-text position-relative {% if module.content_style.section_type != 'none' %} section-{{module.content_style.section_type}} {% endif %}{% if module.content_style.padding_bottom == false %} pb-0 {% endif %}{% if module.content_style.padding_top == false %} pt-0 {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if module.content_group.image_source.src %}
                <img class="img-fluid lazy fit-contain-md"
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ module.content_group.image_source.width }} {{ module.content_group.image_source.height }}'%3E%3C/svg%3E"
                    data-src="{{ module.content_group.image_source.src }}"
                    alt="{{ module.content_group.image_source.alt }}" />
                {% else %}
                <img class="img-fluid lazy fit-contain-md"
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ module.content_group.image_source.width }} {{ module.content_group.image_source.height }}'%3E%3C/svg%3E"
                    data-src="https://via.placeholder.com/920x600/1d3b74/ffffff.png?text=image"
                    alt="{{ module.content_group.image_source.alt }}" />
                {% endif %}
            </div>
            <div class="col-md-6 {% if module.content_style.image_left == false %}order-md-first{% endif %}">
                <div class="copy-wrapper py-3 py-md-7">
                    {% if module.content_group.icon.src %}
                    <figure>
                        <img class="img-fluid lazy"
                            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ module.content_group.icon.width }} {{ module.content_group.icon.height }}'%3E%3C/svg%3E"
                            data-src="{{ module.content_group.icon.src }}" alt="{{ module.content_group.icon.alt }}" />
                    </figure>
                    {% endif %}
                    <h2 class="mb-1">
                        {{module.content_group.title}}</h2>
                    {{module.content_group.content}}
                    {% if module.content_group.button_group.button_type == "button" &&
                    module.content_group.button_group.content_link_url.href %}
                    <a class="btn mt-2 {{module.content_group.button_group.button_style}}"
                        href="{{module.content_group.button_group.content_link_url.href}}">{{module.content_group.button_group.content_link_title}}
                    </a>
                    {% else if module.content_group.button_group.button_type == "cta" %}
                    {% cta "cta" label='Select a CTA', guid='{{module.content_group.button_group.cta}}' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>