<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Email Subscription Preferences Page
-->
{% extends "../layouts/base.html" %}

{% block body %}

{% module_block module "header" path="../../modules/header.module", label="Header"%}{% end_module_block %}

<main class="subscription-preferences">
  <section class="subscription-preferences">
    <div class="container">
      {% module "subscription_preferences" path="@hubspot/email_subscriptions" %}
    </div>
  </section>
</main>

{% module_block module "footer" path="../../modules/footer.module", label="Footer"%}{% end_module_block %}

{% endblock body %}
