<footer data-scroll-section>
    <div class="container container-head-footer">
        <div class="bloc-informations">
            {% if module.logo.src %}
                <a href="" class="logo">
                    <img src="{{ module.logo.src }}" loading="lazy" alt="{{ module.logo.src }}">
                </a>
            {% endif %}
            <div class="bloc-socials">
                {% if module.facebook_link %}
                    <a href="{{ module.facebook_link.url.href }}" target="_blank" rel="noopener" class="fb">FB</a>
                {% endif %}
                {% if module.youtube_link %}
                    <a href="{{ module.youtube_link.url.href }}" target="_blank" rel="noopener" class="youtube">Youtube</a>
                {% endif %}
                {% if module.linkedin_link %}
                    <a href="{{ module.linkedin_link.url.href }}" target="_blank" rel="noopener" class="linkedin">LinkedIn</a>
                {% endif %}
                {% if module.twitter_link %}
                    <a href="{{ module.twitter_link.url.href }}" target="_blank" rel="noopener" class="twitter">Twitter</a>
                {% endif %}
                {% if module.instagram_link %}
                    <a href="{{ module.instagram_link.url.href }}" target="_blank" rel="noopener" class="instagram">Instagram</a>
                {% endif %}
            </div>
            {% inline_rich_text field="rich_text" value="{{ module.address }}" %}
            {% if module.phone_number %}
                <a href="tel:+33{{ module.phone_number }}" class="phone">+33 (0){{ module.phone_number }}</a>
            {% endif %}
        </div>
        <div class="bloc-nav">
            <nav>
                {% menu "footer_menu" id={{ module.footer_menu }}, site_map_name='Default', overrideable=False, root_type='site_root', flyouts='true', max_levels='2', flow='horizontal', label='Advanced Menu' %}
            </nav>
        </div>
        <div class="bloc-nav-second">
            <nav>
                {% menu "footer_menu_second" id={{ module.footer_menu_second }}, site_map_name='Default', overrideable=False, root_type='site_root', flyouts='true', max_levels='2', flow='horizontal', label='Advanced Menu' %}
            </nav>
        </div>
    </div>
    <div class="container container-sub-footer">
        <nav>
            {% menu "footer_menu" id={{ module.second_footer_menu }}, site_map_name='Default', overrideable=False, root_type='site_root', flyouts='true', max_levels='2', flow='horizontal', label='Advanced Menu' %}
        </nav>
    </div>
</footer>